[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"

[packages]
fastapi = "==0.75.0"
uvicorn = "==0.17.6"
sentence-transformers = "==2.2.0"
huggingface_hub = "*"

[requires]
python_version = "3.8"